---
Checks: performance-*,
  misc-*,
  android-cloexec-*,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-identifier-naming,
  bugprone-assert-side-effect,
  bugprone-macro-repeated-side-effects,
  bugprone-infinite-loop,
  bugprone-macro-parentheses,
  bugprone-posix-return,
  bugprone-reserved-identifier,
  bugprone-signal-handler,
  bugprone-signed-char-misuse,
  bugprone-sizeof-expression,
  bugprone-branch-clone,
  -clang-analyzer-security.insecureAPI.*,
  -misc-no-recursion,

# treat all warnings as errors
WarningsAsErrors: "*"

CheckOptions:
  - key: readability-identifier-naming.StructCase
    value: "CamelCase"
  - key: readability-identifier-naming.TypedefCase
    value: "CamelCase"
  - key: readability-identifier-naming.TypedefSuffix
    value: "Type"
  - key: readability-identifier-naming.FunctionCase
    value: "camelBack"
  - key: readability-identifier-naming.VariableCase
    value: "camelBack"
  - key: readability-identifier-naming.GlobalConstantCase
    value: "UPPER_CASE"
  - key: readability-identifier-naming.GlobalVariableCase
    value: "CamelCase"
  - key: bugprone-assert-side-effect.AssertMacros
    value: "ASSERT"

ExtraArgs: [-std=c11, -DDEBUG]
